# Part 2:

In [ ]:
import pandas as pd
import sqlite3

In [ ]:
conn = sqlite3.connect('lahmansbaseballdb.sqlite')

In [ ]:
# Read table coloumn names

query = "SELECT * FROM sqlite_master;"
df_schema = pd.read_sql_query(query,conn)

# Print all table names that we have in our databases

df_schema.tbl_name.unique()

In [ ]:
# 1. What was the total spent on salaries by each team, each year?

query = "SELECT yearID,sum(salary),teamID FROM salaries GROUP BY teamID,yearID"
dataframe_question1= pd.read_sql_query(query,conn)

In [ ]:
dataframe_question1

In [ ]:
# 2. First and last year played for each player?

query = "SELECT playerID,yearID FROM fielding ORDER BY playerID"
dataframe_question2= pd.read_sql_query(query,conn)

In [ ]:
print(dataframe_question2)

In [ ]:
# 3. Who has played the most star games?

query = "SELECT playerID,sum(GP) FROM allstarfull GROUP BY playerID  ORDER BY sum(GP) DESC "
dataframe_question3= pd.read_sql_query(query,conn)

In [ ]:
print(dataframe_question3)

In [ ]:
# 4. Which school generated the most distinct players?

query = "SELECT * FROM collegeplaying ORDER BY schoolID "
dataframe_question4= pd.read_sql_query(query,conn)

In [ ]:
dataframe_question4["schoolID"].value_counts()

In [ ]:
# 5. Which player has the longest career?

query = "SELECT playerID,debut,finalGame FROM people "
dataframe_question5= pd.read_sql_query(query,conn)

In [ ]:
print(dataframe_question5)

In [ ]:
dataframe_question5['debut'] =  pd.to_datetime(dataframe_question5['debut'], format='%Y-%m-%d')
dataframe_question5['finalGame'] =  pd.to_datetime(dataframe_question5['finalGame'], format='%Y-%m-%d')

In [ ]:
dataframe_question5['difference']=dataframe_question5['finalGame']-dataframe_question5['debut']

In [ ]:
dataframe_question5 = dataframe_question5.sort_values('difference', ascending=False)

In [ ]:
dataframe_question5

In [ ]:
# 6. Distribution of debut months?

query = "SELECT playerID,debut FROM people "
dataframe_question6= pd.read_sql_query(query,conn)

In [ ]:
dataframe_question6.playerID.groupby(dataframe_question6.debut).nunique().hist();

In [ ]:
# 7. What is the effect of table join order on mean salary for the players listed in the main (master) table?

query = "SELECT * from salaries LEFT JOIN people ON salaries.playerID = people.playerID"
dataframe_question7= pd.read_sql_query(query,conn)

In [ ]:
print(dataframe_question7)